In [1]:
import os
import tarfile
import shutil

In [2]:
# Paths
BASE_DIR = '/home/sakshisahemail/Desktop/CV/labelled_images/'
OUTPUT_DIR = 'Processed_Kvasir_labeled_images'

In [3]:
print("Base Directory Exists:", os.path.exists(BASE_DIR))
print("Files in Base Directory:", os.listdir(BASE_DIR))

Base Directory Exists: True
Files in Base Directory: ['lymphangiectasia.tar.gz', 'pylorus.tar.gz', 'foreign_body.tar.gz', 'erythema.tar.gz', 'ileocecal_valve.tar.gz', 'normal_clean_mucosa.tar.gz', 'erosion.tar.gz', 'ampulla_of_vater.tar.gz', 'polyp.tar.gz', 'angiectasia.tar.gz', 'ulcer.tar.gz', 'blood_fresh.tar.gz', 'reduced_mucosal_view.tar.gz', 'blood_hematin.tar.gz']

In [4]:
# Extracting .tar.gz files
if not os.path.exists(OUTPUT_DIR):
    os.makedirs(OUTPUT_DIR)

for file in os.listdir(BASE_DIR):
    if file.endswith(".tar.gz"):
        tar_path = os.path.join(BASE_DIR, file)
        print(f"Extracting: {tar_path}")
        
        with tarfile.open(tar_path, 'r:gz') as tar:
            tar.extractall(BASE_DIR)

Extracting: /home/sakshisahemail/Desktop/CV/labelled_images/lymphangiectasia.tar.gz

/tmp/ipykernel_2287/1265550507.py:11: DeprecationWarning: Python 3.14 will, by default, filter extracted tar archives and reject files or modify their metadata. Use the filter argument to control this behavior.
  tar.extractall(BASE_DIR)

Extracting: /home/sakshisahemail/Desktop/CV/labelled_images/pylorus.tar.gz
Extracting: /home/sakshisahemail/Desktop/CV/labelled_images/foreign_body.tar.gz
Extracting: /home/sakshisahemail/Desktop/CV/labelled_images/erythema.tar.gz
Extracting: /home/sakshisahemail/Desktop/CV/labelled_images/ileocecal_valve.tar.gz
Extracting: /home/sakshisahemail/Desktop/CV/labelled_images/normal_clean_mucosa.tar.gz
Extracting: /home/sakshisahemail/Desktop/CV/labelled_images/erosion.tar.gz
Extracting: /home/sakshisahemail/Desktop/CV/labelled_images/ampulla_of_vater.tar.gz
Extracting: /home/sakshisahemail/Desktop/CV/labelled_images/polyp.tar.gz
Extracting: /home/sakshisahemail/Desktop/CV/labelled_images/angiectasia.tar.gz
Extracting: /home/sakshisahemail/Desktop/CV/labelled_images/ulcer.tar.gz
Extracting: /home/sakshisahemail/Desktop/CV/labelled_images/blood_fresh.tar.gz
Extracting: /home/sakshisahemail/Desktop/CV/labelled_images/reduced_mucosal_view.tar.gz
Extracting: /home/sakshisahemail/Desktop/CV/labelled_images/blood_hematin.tar.gz

In [5]:
# Reorganizing and renaming files
for folder in os.listdir(BASE_DIR):
    folder_path = os.path.join(BASE_DIR, folder)
    
    # Ignore non-directories
    if not os.path.isdir(folder_path):
        continue
    
    # Create class folder in the output directory
    dest_folder = os.path.join(OUTPUT_DIR, folder)
    os.makedirs(dest_folder, exist_ok=True)
    
    # Handle nested structure (if exists)
    inner_folder = os.path.join(folder_path, folder)
    if not os.path.exists(inner_folder):
        inner_folder = folder_path  # No nested folder, use top-level
    
    # Rename and move images
    count = 1
    for img_file in os.listdir(inner_folder):
        src_path = os.path.join(inner_folder, img_file)
        dst_path = os.path.join(dest_folder, img_file)
        
        shutil.move(src_path, dst_path)
        count += 1
    
    # Cleanup: Remove original extracted folder
    shutil.rmtree(folder_path)

print("Dataset restructured and renamed successfully!")

Dataset restructured and renamed successfully!

In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('metadata.csv', sep=';')

In [10]:
df.head(10)

,filename,video_id,frame_number,finding_category,finding_class,x1,y1,x2,y2,x3,y3,x4,y4
0,0728084c8da942d9_22803.jpg,0728084c8da942d9,22803,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0728084c8da942d9_22804.jpg,0728084c8da942d9,22804,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0728084c8da942d9_22805.jpg,0728084c8da942d9,22805,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0728084c8da942d9_22806.jpg,0728084c8da942d9,22806,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0728084c8da942d9_22807.jpg,0728084c8da942d9,22807,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0728084c8da942d9_22808.jpg,0728084c8da942d9,22808,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0728084c8da942d9_22809.jpg,0728084c8da942d9,22809,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0728084c8da942d9_22810.jpg,0728084c8da942d9,22810,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0728084c8da942d9_22811.jpg,0728084c8da942d9,22811,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0728084c8da942d9_22812.jpg,0728084c8da942d9,22812,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.sample(10)

,filename,video_id,frame_number,finding_category,finding_class,x1,y1,x2,y2,x3,y3,x4,y4
8844,5e59c7fdb16c4228_12720.jpg,5e59c7fdb16c4228,12720,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23750,dca1377dec974312_14588.jpg,dca1377dec974312,14588,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526,dc221ccc65d34010_36946.jpg,dc221ccc65d34010,36946,Luminal,Reduced Mucosal View,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2466,dc221ccc65d34010_48825.jpg,dc221ccc65d34010,48825,Luminal,Reduced Mucosal View,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29293,df6b47bafe5143f5_9968.jpg,df6b47bafe5143f5,9968,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34962,c11b28a8b2344716_583.jpg,c11b28a8b2344716,583,Anatomy,Pylorus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25153,fc32def0e7194981_22288.jpg,fc32def0e7194981,22288,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25076,fc32def0e7194981_58641.jpg,fc32def0e7194981,58641,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24609,fc32def0e7194981_31354.jpg,fc32def0e7194981,31354,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3603,fe5d372e43f94f68_2565.jpg,fe5d372e43f94f68,2565,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.x1.value_counts()

x1
0.0      299
1.0      153
2.0       92
3.0       81
9.0       69
        ...
293.0      1
318.0      1
315.0      1
304.0      1
317.0      1
Name: count, Length: 314, dtype: int64

In [15]:
df.dropna()

,filename,video_id,frame_number,finding_category,finding_class,x1,y1,x2,y2,x3,y3,x4,y4
1418,0728084c8da942d9_29983.jpg,0728084c8da942d9,29983,Luminal,Erosion,138.0,3.0,311.0,3.0,311.0,73.0,138.0,73.0
1419,0728084c8da942d9_29984.jpg,0728084c8da942d9,29984,Luminal,Erosion,143.0,0.0,294.0,0.0,294.0,46.0,143.0,46.0
1420,0728084c8da942d9_29985.jpg,0728084c8da942d9,29985,Luminal,Erosion,176.0,1.0,276.0,1.0,276.0,23.0,176.0,23.0
1421,0728084c8da942d9_29986.jpg,0728084c8da942d9,29986,Luminal,Erosion,227.0,3.0,293.0,3.0,293.0,28.0,227.0,28.0
1422,0728084c8da942d9_29987.jpg,0728084c8da942d9,29987,Luminal,Erosion,159.0,2.0,308.0,2.0,308.0,55.0,159.0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47243,04a78ef00c5245e0_898.jpg,04a78ef00c5245e0,898,Luminal,Angiectasia,171.0,172.0,237.0,172.0,237.0,238.0,171.0,238.0
47244,04a78ef00c5245e0_899.jpg,04a78ef00c5245e0,899,Luminal,Angiectasia,169.0,205.0,234.0,205.0,234.0,273.0,169.0,273.0
47245,04a78ef00c5245e0_900.jpg,04a78ef00c5245e0,900,Luminal,Angiectasia,174.0,240.0,242.0,240.0,242.0,305.0,174.0,305.0
47246,04a78ef00c5245e0_901.jpg,04a78ef00c5245e0,901,Luminal,Angiectasia,188.0,265.0,257.0,265.0,257.0,330.0,188.0,330.0
47247,04a78ef00c5245e0_902.jpg,04a78ef00c5245e0,902,Luminal,Angiectasia,219.0,293.0,294.0,293.0,294.0,336.0,219.0,336.0

In [16]:
df

,filename,video_id,frame_number,finding_category,finding_class,x1,y1,x2,y2,x3,y3,x4,y4
0,0728084c8da942d9_22803.jpg,0728084c8da942d9,22803,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0728084c8da942d9_22804.jpg,0728084c8da942d9,22804,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0728084c8da942d9_22805.jpg,0728084c8da942d9,22805,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0728084c8da942d9_22806.jpg,0728084c8da942d9,22806,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0728084c8da942d9_22807.jpg,0728084c8da942d9,22807,Luminal,Normal clean mucosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47243,04a78ef00c5245e0_898.jpg,04a78ef00c5245e0,898,Luminal,Angiectasia,171.0,172.0,237.0,172.0,237.0,238.0,171.0,238.0
47244,04a78ef00c5245e0_899.jpg,04a78ef00c5245e0,899,Luminal,Angiectasia,169.0,205.0,234.0,205.0,234.0,273.0,169.0,273.0
47245,04a78ef00c5245e0_900.jpg,04a78ef00c5245e0,900,Luminal,Angiectasia,174.0,240.0,242.0,240.0,242.0,305.0,174.0,305.0
47246,04a78ef00c5245e0_901.jpg,04a78ef00c5245e0,901,Luminal,Angiectasia,188.0,265.0,257.0,265.0,257.0,330.0,188.0,330.0
47247,04a78ef00c5245e0_902.jpg,04a78ef00c5245e0,902,Luminal,Angiectasia,219.0,293.0,294.0,293.0,294.0,336.0,219.0,336.0

In [21]:
df.dropna().x1.value_counts()

x1
0.0      299
1.0      153
2.0       92
3.0       81
9.0       69
        ...
293.0      1
318.0      1
315.0      1
304.0      1
317.0      1
Name: count, Length: 314, dtype: int64

In [22]:
df.x2.value_counts()

x2
334.0    152
335.0    105
333.0     95
290.0     80
326.0     61
        ...
28.0       1
17.0       1
340.0      1
341.0      1
339.0      1
Name: count, Length: 325, dtype: int64

In [23]:
df.dropna().x2.value_counts()

x2
334.0    152
335.0    105
333.0     95
290.0     80
326.0     61
        ...
28.0       1
17.0       1
340.0      1
341.0      1
339.0      1
Name: count, Length: 325, dtype: int64

In [24]:
df.y1.value_counts()

y1
0.0      111
80.0     108
3.0       83
2.0       70
1.0       69
        ...
311.0      1
324.0      1
322.0      1
315.0      1
312.0      1
Name: count, Length: 313, dtype: int64

In [25]:
df.dropna().y1.value_counts()

y1
0.0      111
80.0     108
3.0       83
2.0       70
1.0       69
        ...
311.0      1
324.0      1
322.0      1
315.0      1
312.0      1
Name: count, Length: 313, dtype: int64

In [28]:
df.dropna().finding_class.value_counts()

finding_class
Angiectasia         866
Ulcer               854
Foreign Body        776
Lymphangiectasia    592
Erosion             507
Blood - fresh       446
Erythema            117
Polyp                55
Blood - hematin      12
Ampulla of Vater     10
Name: count, dtype: int64

In [29]:
df.finding_class.value_counts()

finding_class
Normal clean mucosa     34338
Ileocecal valve          4189
Reduced Mucosal View     2906
Pylorus                  1538
Angiectasia               866
Ulcer                     854
Foreign Body              776
Lymphangiectasia          592
Erosion                   507
Blood - fresh             446
Erythema                  159
Polyp                      55
Blood - hematin            12
Ampulla of Vater           10
Name: count, dtype: int64